* {
  font-family: 'VT323', monospace;
}

html {
  /* variables */
  --accent-color: #ff002e;
  --secondary-color: #5b4536;
  --secondary-color-dark: #222;
  --background-color: #ffefd5;
  --background-color-dark: #d9cbb3;
  --app-max-width: 800px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}